<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="styles/style.css">
	<title>Learning MEAN</title>
</head>
<body ng-app="app" ng-controller="listItems">
	<header>
		<h1>CRUD with MEAN</h1>
		<nav>
			<a href="/">List</a> <a href="/admin">Admin</a>
		</nav>
	</header>
	<div class="container">
		<h2>Edit Posts</h2>
		<table>
			<thead>
				<tr>
					<th>Heading</th>
					<th>Author</th>
					<th>Date</th>
					<th>Last updated</th>
					<th>Tags</th>
					<th>Category</th>
					<th></th>
				</tr>
			</thead>
			<form id="editForm">
			<tbody ng-repeat="edit in editarr" ng-controller="updateItems" class="edit-posts">
				<tr>
					<td><input type="text" value={{edit.heading}} ng-model="edit.heading"></td>
					<td><input type="text" value={{edit.author}} ng-model="edit.author"></td>
					<td><input type="hidden" value={{edit.date}} ng-model="edit.date">{{edit.date}}</td>
					<td><input type="hidden" value={{edit.dateUpdated}} ng-model="edit.dateUpdated">{{edit.dateUpdated}}</td>
					<td><input type="text" value={{edit.tags}} ng-model="edit.tags"></td>
					<td><input type="text" value={{edit.category}} ng-model="edit.category"></td>
				</tr>
				<tr>
					<th colspan="6" class="post-text-th"><span class="post-text-th">Message</span></th>
				</tr>
				<tr>
					<td colspan="6"><textarea ng-model="edit.text">{{edit.text}}</textarea>
					<input type="hidden" value={{edit._id}} ng-model="edit._id"><button ng-click="saveItem()" class="positive">Save</button>
					</td>
				</tr>
			</tbody>
			</form>
		</table>
	</div>
	<div class="container" ng-controller="adminItems">
		<h2>Edit/Delete Posts</h2>
		<table>
			<thead>
				<tr>
					<th>Heading</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="post in posts">
				<tr>
					<td>{{post.heading}}<input type="hidden" value={{post._id}} ng-model="id"></td>
					<td class="white-bg"><button ng-click="goEdit(post._id)">Edit</button></td>
					<td class="white-bg"><button ng-click="delItem(post._id)" class="negative">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container add-post" ng-controller="addItems">
		<h2>Add Posts</h2>
		<form id="addForm">
			<label>Heading:</label>
			<input type="text" ng-model="heading">
			<label>Author:</label>
			<input type="text" ng-model="author">
			<label>Message:</label>
			<textarea ng-model="text"></textarea>
			<label>Tags: (Separate with comma)</label>
			<input type="text" ng-model="tags">
			<label>Category:</label>
			<input type="text" ng-model="category">
			<input type="hidden" ng-model="date">
			<button ng-click="newItem()" class="positive">Add post</button>
		</form>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
<script src="app/app.js"></script>
</body>
</html>